.gallery{
    &-filter{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
        
            &-button{
            border: none;
            background: none;
            list-style: none;
            padding: 15px;
            cursor: pointer;
            
        }
        &-active{
            background-color: #2e5b6b;
            color: #fff;
        }
    }
   
    &-item {
        cursor: pointer;
        height: 420px;
        width: 420px;
        object-fit: cover;
        padding: .5em;
    }
}